@import '../globals/_variables.scss';
@import '../globals/_template-styles.scss';

.pipeline-container {
  display: flex;
  flex-direction: column;
  border: 1px solid $PRIMARY_BORDER;
  background-color: $SECONDARY_BG_COLOR;
  padding: 3rem;

  h2 {
    align-self: center;
    margin: 0;
  }

}

.add-progress-container {

  margin: 1rem 0;
  padding: 0 2rem;

  .add-progress-button {
    @extend .primary-button;
    align-self: left;
    width: 6rem;
    height: 1.5rem;
    padding: 0.35rem 0.35rem 0.2rem;
  }
}