@import '../globals/_variables.scss';
@import '../globals/_template-styles.scss';

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-out-button {
  font-family: $PRIMARY_FONT;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.sign-out-button:hover {
  background-color: darken($BG_COLOR, 3%);
}