@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

$PRIMARY_LIGHT: rgb(242, 247, 255);

$PRIMARY_FONT: 'Spartan', sans-serif;
$LIGHT_FONT: $PRIMARY_LIGHT;

$BG_COLOR: $PRIMARY_LIGHT;
$SECONDARY_BG_COLOR: lighten($BG_COLOR, 90%);

$PRIMARY_BORDER: darken($BG_COLOR, 20%);
$SECONDARY_BORDER: lighten($PRIMARY_BORDER, 10%);

$PRIMARY_BUTTON_COLOR: darken($BG_COLOR, 30%);

$SMALL_SCREEN_MAX: 1080px;
$LARGE_SCREEN_MIN: 1081px; 